.container{
    display: flex;
    flex-wrap: wrap;
}
.first{
    width: 60%;
}
.second{
    background-color: cadetblue;
    float: right;
}
.contactUs{
    margin-top: 30px;
    margin-bottom: 30px;
}
.login{
    margin-top: 20px;
}