details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

summary {
    font-weight: bold;
    font-size: large;
    color: cornflowerblue;
    padding: 5px;
}

table {
    width: 95%;
    align-self: center;
}

td {
    text-align: right;
}

label {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    color: rgb(71, 80, 88);

}

h1,
option {
    color: rgb(71, 80, 88);
}

input,
select {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    color: rgb(71, 80, 88);
    outline: none;
}

#submit {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    color: rgb(71, 80, 88);
    font-weight: bold;
    font-size: medium;
}

.required {
    color: red;
}

label textarea {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    color: rgb(71, 80, 88);
    outline: none;
}